/* Sidebar menucode */
/* this is essentially the same as the sidenav example in W3 schools */
.sidenav {
  height: 100%;
  width: 0;
  postition: fixed;
  z-index: 1; /* stays on the top */
  top: 0; /* Stay at the top*/
  left: 0;
  background-color: #111; /* change this later */
  overflow-x: hidden; /*disables the horizotnal scroll*/
  padding-top: 40px; /* Place content 40px from the top */
  transition: 0.3s; /* 0.3 second transition effect to slide in the sidenav */

  /* The navigation menu links */
  .sidenav a {

  }
  /* When you mouse over the nvaigation links, change their color */
  .sidenav a:hover {

  }
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {

  }
  /* Style page content - use this if you want to push the page content
   to the right when you open the side navigation */
  #main {

  }

  /* On smaller screens, where height is less than 450px,
  change the style of the sidenav (less padding and a smaller font size) */
   @media screen and (max-height: 450px) {

  }



  /* main site content */
}
body {
  background-color: black;

}
h1 {
  text-align: center;
  font-family: azonix ;
  font-size: 50px;
  color: beige;
}
/* Change this later */
h2 {
  color: white;
}
.HeaderTwoColor {
  color: royalblue;
  font-family:  'Trebuchet MS';
  font-size: 25px;
}
#ul
{
  color:rgb(143, 253, 0)
}
li
{
  font-family: Klavika;
  font-size: 15px;
  color:aliceblue
}
#color
{
  color: white;
}
#Statement
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  color: blue;

}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
  width: 30%;
  margin: 10px;
  padding: 20px 10px;
  background: white; /* pick a color */
  border-radius: 25%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}
.project img{
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 2px solid rgb(126, 14, 201); /* choose a color */
  display: block;
  margin: auto;
}

.HeaderThreeColor
{
  color: red;
}
.Size
{
  width: 100%;
  height: 400px;
}

.about{
  display:flex;
  flex-wrap:wrap;
  margin-right: 100px;
  margin-left: 100px;
  justify-content: center;
}

.about p {
  width:50%;
  text-align: center;
  margin: auto;
  line-height: 125%;
}
.about img {
  width: 150px;
  height: 200px;
  border-radius: 25%;
  border: 2px solid rgb(126, 14, 201);
}