body {
    background-color: red;
    
}
h1 {
    text-align: center;
    font-family:Helvetica;
    font-size: 50px;
    color: beige;
}
.HeaderTwoColor {
    color: royalblue;
    font-family:  'Trebuchet MS';
    font-size: 25px;
}
#ul
{
    color:rgb(143, 253, 0)
}
li 
{
    font-family: Lucida Sans;
    font-size: 15px;
    color:aliceblue
}
#color
{
    color: white;
}
#Statement
{
    color: forestgreen
    font-family: Helvetica;
    font-size: 17px;
}
